@(name:String,reg:List[String],FUStatus:List[List[String]],InsStatus:List[List[String]])
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
  <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
</head>
<body>

  <div>
    <div>
      <form  action="@routes.ProgramController.nextStep(name)"><button type="submit">下一步</button></form>
      <form  action="@routes.ProgramController.reStart(name)"><button type="submit">重新开始</button></form>
    </div>
    <div>
      <h5>Instruction Status</h5>
      <table class="table table-striped" >
        <thead>
          <tr class="active" id="table-title">
            <th   id="table-title-row">instruction</th>
            <th   id="table-title-row">issue</th>
            <th   id="table-title-row">read source</th>
            <th   id="table-title-row">execute</th>
            <th   id="table-title-row">write result</th>
          </tr>
        </thead>
        <tbody>
          @InsStatus.map{i =>
            <tr id="table-info">
              @i.map{l =>
                <td   id="table-info-row">@l</td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div>
      <h5>Functional unit status</h5>
      <table class="table table-striped" >
        <thead>
          <tr class="active" id="table-title">
            <th   id="table-title-row">time</th>
            <th   id="table-title-row">name</th>
            <th   id="table-title-row">busy</th>
            <th   id="table-title-row">Op</th>
            <th   id="table-title-row">Fi</th>
            <th   id="table-title-row">Fj</th>
            <th   id="table-title-row">Fk</th>
            <th   id="table-title-row">Qj</th>
            <th   id="table-title-row">Qk</th>
            <th   id="table-title-row">Rj</th>
            <th   id="table-title-row">Rk</th>
          </tr>
        </thead>
        <tbody>
        @FUStatus.map{i =>
          <tr id="table-info">
            @i.map{l =>
              <td   id="table-info-row">@l</td>
            }
          </tr>
        }
        </tbody>
      </table>
    </div>

    <div>
      <h5>Register result status</h5>
      <table class="table table-striped" >
        <thead>
          <tr class="active" id="table-title">
            @for(i <- 0 to 30){
              <th   id="table-title-row">@{"F"+i.toString}</th>
            }
          </tr>
        </thead>
        <tbody>
          <tr id="table-info">
            @reg.map{l =>9
              <td   id="table-info-row">@l</td>
            }
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>
</html>
